<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>CryptoVeil</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/owl.carousel.css">
    <link rel="stylesheet" href="/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="js/crypto.js"></script>
    
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp" class="preloader">
    <!-- <navbar></navbar> -->
    <div ui-view></div>
</body>
</html>