<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav btn-group dropdown" dropdown>
        <a type="button" class="btn btn-default dropdown-toggle btn-sm" dropdown-toggle ng-disabled="disabled">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-selected=""
          data-ui-sref="{{item.state}}" 
          data-ng-repeat="item in items">
            <a href="#">{{item.label}}</a>
              <li class="divider"></li>
          </li>
          <li>
            <a href="#" data-ng-click="logout()">Logout</a>
          </li>
        </ul>

    </div>

      <div data-ng-show="user" class="welcome">
        <span>Welcome, {{ user.nickname }}!</span>
        <a data-ng-click="logout()">Logout</a>
      </div>

  </div>
</nav>

