<nav class="navbar navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
<!--             <li ng-repeat="item in items" ng-show="(!item.adminauth || user.userType === 'Admin') && (!item.auth || isLoggedIn())">
                <a ui-sref-active="active" ui-sref="{{ item.state }}"><i id='nav-icons' class='fa fa-{{item.icon}}'></i></a>
            </li> -->
        </ul>

    <!-- hamburger -->
    <ul class="nav navbar-nav">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-selected=""
          data-ui-sref="{{item.state}}" 
          data-ng-repeat="item in items">
            <a href="#">{{item.label}}</a>
              <li class="divider"></li>
          </li>
        </ul>
      </div>
    </ul>

    <div ng-show="user" class="welcome">
        <span>Welcome, {{ user.nickname }}</span>
        <a ng-click="logout()">Logout</a>
    </div>

    </div>
</nav>