
  <label class="checkbox">
    <input type="checkbox" data-ng-model="oneAtATime">
    Open only one at a time
  </label>
  <div class="container">
	  <accordion close-others="oneAtATime">
	    
	    <accordion-group data-ng-repeat="group in groups" data-is-open="group.status">
		    <div class="row">
		    	<div class="col-lg-2">
		    		<accordion-heading>
		           <i class="pull-left glyphicon" data-ng-class="{'glyphicon-chevron-down': group.status, 'glyphicon-chevron-right': !group.status}"></i> &nbsp;&nbsp; {{ group.title }} 
		    	<div class="btn-group pull-right">
		    		<button class="btn btn-default btn-xs" 
            data-ng-click="$event.stopPropagation() || addMember(group.id)">Add member</button>
		    	</div>
		        	</accordion-heading>
		    	</div>
	        	<div class="row" data-ng-repeat="member in group.members">
	        		<div class="col-lg-3">{{ member }}</div>
	        	</div>
		    </div>
	        
	    </accordion-group>
	  </accordion>
</div>
<!-- <div>
	<div class="row">
		<div class="col-lg-3">
			<div>Welcome to circle management!</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<p>
    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
    <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
  </p>

  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>
  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
	</div>
</div> -->