<div class="container">
<h3 align="center">Circle Management</h3>
<hr>
<accordion close-others="true">
  <accordion-group data-is-open="ownership.status">
    <div class="row">
      <div class="col-lg-6">
        <accordion-heading>
          <i class="pull-left glyphicon" data-ng-class="{'glyphicon glyphicon-hand-down': ownership.status, 'glyphicon glyphicon-hand-right': !ownership.status}"></i> &nbsp;&nbsp; <a>Circles Owned</a>
        </accordion-heading>
        <button class="btn btn-success btn-block btn-md" data-ng-click="createCircle()">Create Circle</button>
      </div>
      <div class="container">
        <accordion close-others="false">
          <accordion-group data-ng-repeat="group in groups.owned" data-is-open="group.owned.status">
            <div class="row">
              <div class="col-lg-2">
                <accordion-heading>
                  <i class="pull-left glyphicon" data-ng-class="{'glyphicon glyphicon-chevron-down': group.owned.status, 'glyphicon glyphicon-chevron-right': !group.owned.status}"></i> &nbsp;&nbsp; {{ group.name }}
                  <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs"
                    data-ng-click="$event.stopPropagation() || deleteCircle(group._id)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                  </div>
                </accordion-heading>
              </div>
              <div class="btn-group" role="group" aria-label="...">
                <button type="submit" class="btn btn-info btn-md" ng-click="addMember(group._id)">Add Member</button>
                <button type="button" class="btn btn-danger btn-md" data-ng-click="showDelete()">Remove Member</button>
              </div>
              <div class="row" data-ng-repeat="member in group.members">
                <div class="col-lg-3">{{ member.nickname }}<span ng-if="deleteMemb" ng-click="deleteMember(group._id, member.email)"class="glyphicon glyphicon-remove"></span></div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </accordion-group>
</accordion>

<accordion close-others="true">
  <accordion-group data-is-open="ownership.status">
    <div class="row">
      <div class="col-lg-2">
        <accordion-heading>
          <i class="pull-left glyphicon" data-ng-class="{'glyphicon glyphicon-hand-down': group.part.status, 'glyphicon glyphicon-hand-right': !group.part.status}"></i> &nbsp;&nbsp; <a>Circles Participated</a>
        </accordion-heading>
      </div>
      <div class="container">
        <accordion close-others="false">
          <accordion-group data-ng-repeat="group in groups.part" data-is-open="group.status">
            <div class="row">
              <div class="col-lg-2">
                <accordion-heading>
                  <i class="pull-left glyphicon" data-ng-class="{'glyphicon glyphicon-chevron-down': group.status, 'glyphicon glyphicon-chevron-right': !group.status}"></i> &nbsp;&nbsp; {{ group.name }} --- Owner: <b><i>{{group.creator.nickname}}</i></b>
                  <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs"
                    data-ng-click="$event.stopPropagation() || leaveGroup(group._id)">Leave Group</button>
                  </div>
                </accordion-heading>
              </div>
              <div class="row" data-ng-repeat="member in group.members">
                <div class="col-lg-3">{{ member.nickname }}</div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </accordion-group>
</accordion>
</div>