  <br />
  <br />
<div class="container">
  <button class="btn btn-default btn-sm pull-right" ui-sref="account">
  	<span class="glyphicon glyphicon-arrow-left"></span>
  </button>      
  <p>Please enter your current password.</p>
  <br />
  <form id="checkPassword-form" name="checkPasswordForm" ng-submit="checkPasswordForm.$valid && sendPassword(password)">
    <alert type="danger" ng-if="alert" close="closeAlert()">Oops, your password does not match.</alert>
    <div class="form-group">
      <input type="password" ng-model="password" class="form-control" placeholder="Your current password">
    </div>
    <button type="submit" class="btn btn-default btn-md">Enter</button>
  </form>
</div>