<button class="btn btn-default btn-sm" ui-sref="account"><span class="glyphicon glyphicon-arrow-left"></span></button>      

<p>Please enter your password again in order to delete your account.</p>

<form id="checkPassword-form" name="checkPasswordForm" ng-submit="checkPasswordForm.$valid && sendPassword(password)">
  <alert type="danger" ng-if="alert" close="closeAlert()">Oops, your password does not match.</alert>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Enter</button>
</form>
