<button class="btn btn-default btn-sm" ui-sref="account"><span class="glyphicon glyphicon-arrow-left"></span></button>      

<p>Reset your password here!</p>

<form id="resetPassword-form" name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && sendNewPassword(password)">
  <alert type="danger" ng-if="alert" close="closeAlert()">Oops, your password does not match.</alert>
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" ng-model="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
