  <br />
  <br />
<div class="container">
  <button class="btn btn-default btn-sm pull-right" ui-sref="account"><span class="glyphicon glyphicon-arrow-left"></span></button>      

  <p>Reset your password here!</p>
  <br />
  <form id="resetPassword-form" name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && sendNewPassword(password)">
    <alert type="danger" ng-if="alert" close="closeAlert()">Oops, your password does not match.</alert>
    <div class="form-group">
      <input type="password" ng-model="password" class="form-control" placeholder="Your new password">
    </div>
    <button type="submit" class="btn btn-default btn-md">Submit</button>
  </form>
</div>