<div class='create-circle'>
    <div id='createCircle-form' class="modal-header">
        <h2>New Circle Name</h2>
        <p> Group name should only consist of alphabets and numbers</p>
        <form id="createCircle-form" class="form-inline" name="createCircleForm" ng-submit="createCircleForm.$valid && createCircle()">
        <alert type="danger" ng-if="showAlert" close="closeAlert()">
           Name already exists, please input a new name!
        </alert>
        <alert type="danger" ng-if="showNameAlert" close="closeAlert()">
           Name should only consist of alphabets and numbers
        </alert>    
        <div class="form-group modal-body">
            <input type="text" ng-model="circleName" class='form-control input-fields' placeholder="Enter Circle Name">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-default">Submit</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
</div>