<div class="modal-header">
  <div>
    <alert type="danger" ng-hide="showAlert">Are you sure you want to delete this product?</alert>
  </div>
    <div>
      <alert type="success" ng-show="showAlert" class="glyphicon glyphicon-ok">Product information updated successfully!</alert>
    </div>
</div>
<div class="modal-body">
  <button class="btn btn-primary" ng-hide="showAlert" ng-click="close()">Cancel</button>
  <button class='btn btn-danger' ng-hide="showAlert" ng-click="deleteProductConf(product);close()">Delete</button>
</div>
