* {
  box-sizing: border-box; }

h3 {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif; }

img {
  margin-bottom: 50px; }

body {
  background: #182025 url(../cryptoveil-background.png) 0 0 repeat;
  font-family: 'Open Sans', sans-serif;
  min-width: 400px;
  min-height: 800px; }
  body .panel-default > .panel-heading {
    background-color: #5a5a5a;
    color: #4dffa6; }
    body .panel-default > .panel-heading a {
      font-family: 'Open Sans', sans-serif;
      text-shadow: none;
      text-decoration: none; }
  body #centering {
    text-align: center; }
  body .inset {
    padding-right: 40px;
    padding-left: 70px; }
    body .inset h4 {
      font-family: 'Open Sans', sans-serif; }

.navbar {
  display: block;
  background: #706F6F; }
  .navbar #floatRight {
    float: right; }
  .navbar a {
    margin-top: 6px;
    color: #abffab; }
    .navbar a:hover {
      color: #fff2c8; }
  .navbar .welcome {
    float: right;
    margin-top: 12px; }
    .navbar .welcome span {
      color: #abffab; }
    .navbar .welcome a {
      color: #abffab;
      cursor: pointer; }

#frontCircle {
  font-size: 18px; }

#frontCircle > md-select .md-select-label.md-placeholder {
  color: #66bb6a; }

.md-select-label > span {
  color: #66bb6a; }

#frontCircle > md-select:not([disabled]):focus .md-select-label {
  border-bottom-color: #66bb6a;
  color: #66bb6a; }

.us {
  display: inline; }
