* {
  box-sizing: border-box; }

body {
  min-width: 500px;
  min-height: 700px; }

.dropdown-menu {
  font-size: 12px;
  width: 10px;
  line-height: 100px;
  white-space: nowrap; }

.navbar {
  display: block;
  background: #706F6F; }
  .navbar fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px; }
  .navbar a {
    color: white; }
    .navbar a:hover {
      color: white; }
  .navbar .nav > li > a {
    cursor: pointer; }
    .navbar .nav > li > a.active {
      color: #E60000; }
    .navbar .nav > li > a:hover {
      transition: color 0.2s; }
    .navbar .nav > li > a:focus {
      color: #E60000;
      background: transparent; }
  .navbar .login-button {
    float: right;
    margin-top: 8px; }
  .navbar .welcome {
    float: right;
    margin-top: 12px; }
    .navbar .welcome span {
      color: white; }
    .navbar .welcome a {
      color: #E60000;
      cursor: pointer; }
