* {
  box-sizing: border-box; }

h3 {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif; }

img {
  margin-bottom: 50px; }

body {
  background: #182025 url(../cryptoveil-background.png) 0 0 repeat;
  font-family: 'Open Sans', sans-serif;
  min-width: 400px;
  min-height: 800px; }
  body #centering {
    text-align: center; }

.navbar {
  display: block;
  background: #706F6F; }
  .navbar a {
    margin-top: 6px;
    color: #abffab; }
    .navbar a:hover {
      color: #fff2c8; }
  .navbar .welcome {
    float: right; }
    .navbar .welcome span {
      color: #abffab; }
    .navbar .welcome a {
      margin-top: 6px;
      color: #abffab; }
      .navbar .welcome a:hover {
        color: #fff2c8; }
