<div>
	<div class="row">
		<div class="col-lg-3">
			<div>Welcome to CryptoVeil!</div>
		</div>
	</div>
	<!-- end row-->

	<div class="row">
		<div class="col-lg-3">
		    <button
		    ng-model="encryptionState"
		    type="button" 
		    class="btn btn-default"
		    btn-checkbox 
		    btn-checkbox-true="true" 
		    btn-checkbox-false="false"
		    data-ng-click="encryptionToggle()">
		    {{stateMsg}}
		    </button>
		</div>
	</div>
	<!-- end row -->

	<div class="row">
		<div class="col-lg-3"> <!-- Circle Dropdown-->
		    <div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button"
		      class="btn btn-default dropdown-toggle" 
		      dropdown-toggle 
		      data-ng-disabled="disabled">
		        {{currentCircle}}
		        <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li data-ng-repeat="circle in userCircles">
		        	<a href="#" data-ng-click="setEncryptionCircle(circle)">{{circle.name}}</a>
	        	</li>
		      </ul>
		    </div>
    	</div>
	</div>
	<!-- end row -->

</div>
