<div class="modal-header">
    <h3 class="modal-title">Add a user to your circle</h3>
</div>
<div class="modal-body">
    <div class="input-group">
    <label for="email">Email address</label>
      <input type="text" 
      class="form-control" 
      placeholder="Email" 
      id="email" 
      data-ng-model="emailToSearch"
      class="ng-dirty ng-invalid-email"
      aria-describedby="basic-addon1">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>